# Required in all environments
NAME_APP=KnowledgeBaseServiceWorkerPython
RUN_ENVIRONMENT=development

# Required in testing and production
PATH_TO_LOGS=/home/limited_user/logs

# Database
DATABASE_URL=postgresql://user:pass@localhost/knowledge_base

# Obsidian vault path
VAULT_PATH=/home/limited_user/project_resources/obsidian-vault

# Optional logging overrides
# LOG_MAX_SIZE_IN_MB=3
# LOG_MAX_FILES=3
